.card-container{    
    background-color: var(--background-color-card);
    font: var(--font-title-card);
}

.emb-header {   
    background-color: var(--primary-color);
    color: var(--text-light);
    font: var(--font-title-card);
}
