{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chão de Fábrica - Login</title>
    <link href="{% static 'geral/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'login/css/login.css' %}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
    
<body class="bg-gray-200 flex justify-center items-center px-4 min-h-screen">
    <div class="w-full max-w-md bg-white shadow-xl rounded-lg">
        <header class="bg-emerald-700 text-white text-center py-2 rounded-t-lg">
            <h4 class="text-2xl font-bold">Chão de Fábrica</h4>
        </header>

        <div class="px-4 py-4">
            <form method="POST">
                {% csrf_token %}

                <div class="mb-4">
                    <label for="username" class="block text-[20px] font-medium">Usuário</label>
                    <input value="{{ username }}" type="text" id="username" name="username" placeholder="Digite seu usuário" required 
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500">
                </div>

                <div class="mb-4">
                    <label for="password" class="block text-[20px] font-medium">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha" required 
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500">
                </div>

                <div class="mb-4 text-red-500 text-sm">
                    <p>{{ message }}</p>
                </div>

                <button type="submit" 
                    class="w-full bg-emerald-700 text-white py-2 mt-2 font-bold rounded-md hover:bg-emerald-600 hover:scale-95 transition-transform transition-colors duration-300 ease-in-out">
                    Entrar
                </button>
            </form>
        </div>
    </div>
</body>
</html>
